@import
url(https://fonts.googleapis.com/css?family=Abril+Fatface|News+Cycle);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	background-color: white;
	font-family: sans-serif;
	height: 100%;
}

#menyen ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

#menyen ul>li{
	width: 100%;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #272727;
	margin-bottom: -1px;
	background-color: white;
	letter-spacing: 3px;
}

#menyen ul>li>a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#menyen ul>li>a:hover{
	color: white;
}

#menyen ul>li:hover{
	box-shadow: 0px 0px 15px black;
	z-index: 1;
	background-color: black;
}

#menyen div>a>img{
	position: absolute;
	right: 0px;
	z-index: 2;
}

#meny_aapen{
	display: none;
}

#meny_aapen:target{
	display: initial;
}


@media all and (min-width: 1024px){
	#meny_lukket{
		display: none;
	}
	
	#menyen div>a>img{
		display: none;
	}
	
	#meny_aapen{
		display: initial;
	}
	
	#menyen ul{
		flex-wrap: nowrap;
		position: initial;
		justify-content: space-between;
	}
	
	#menyen ul>li{
		flex: auto;
		margin-bottom: 0px;
	}
	
	#menyen ul>li>a{
		padding: 5px;
	}
}