@import
url(https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|News+Cycle);

body{
	background-color: white;
	color: #272727;
}

header{
	text-align: center;
	color: #272727;
	font-family: 'Abril Fatface', cursive;
	padding: 10px;
}

#dagmeny ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

#dagmeny ul>li{
	flex: auto;
	height: 50pt;
	text-align: center;
	border: solid 3px #f53f53;
	border-radius: 20px;
	background-color: #f53f53;
}

#dagmeny ul>li>a{
	text-decoration: none;
	color: white;
	font-size: 40pt;
	display: block;
	width: 100%;
}

#dagmeny ul>li:hover{
	background-color: #272727;
	box-shadow: 0px 0px 15px red;
}

main{
	display: flex;
	flex-wrap: wrap;
}

.dag{
	width: 100%;
	padding-top: 15px;
	text-align: left;
	background-color: black;
}

.dag>h1{
	background-color: white;
	color: #f53f53;
	font-size: 30pt;
	color: black;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

.tid{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: solid 1px rgb(70,40,20);
	text-align: center;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}

.tid>p {
	color: white;
	font-family: 'News Cycle', sans-serif;
}

.tid img{
	width: 100%;
	max-width: 1000px;
}

@media all and (min-width: 1024px){
#dagmeny{
	display:none;
}

main{
	flex-wrap: nowrap;
	justify-content: space-between;
}
.dag{
	flex: auto;
	margin-left: 10px;
}
}

@media print{
	body{
		color: black;
	}
	
	#menyen, #dagmeny, .tid img{
		display: none;
	}
	
	.dag{
		text-align: center;
		border-bottom: solid 1px grey;
	}
	
	.dag>h1{
		color: black;
	}
	
	.tid{
		text-align: left;
		border: none;
	}
}
